asgiref==3.7.2
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
Django==4.2.3
djangorestframework==3.14.0
google-api-core==2.11.1
google-auth==2.22.0
google-cloud-speech==2.21.0
google-cloud-texttospeech==2.14.1
googleapis-common-protos==1.60.0
grpcio==1.56.2
grpcio-status==1.56.2
gTTS==2.3.2
idna==3.4
numpy==1.25.1
opencv-python==4.8.0.74
Pillow==10.0.0
proto-plus==1.22.3
protobuf==4.23.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pytz==2023.3
requests==2.31.0
rsa==4.9
six==1.16.0
sqlparse==0.4.4
typing-extensions==4.7.1
tzdata==2023.3
urllib3==1.26.16
